In [3]:
import pandas as pd
import numpy as np

import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication

from getpass import getpass  # To get the password without showing the input

In [4]:
password = getpass()

········

In [7]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [8]:
type(engine)

sqlalchemy.engine.base.Engine

In [9]:
query = """
SELECT DISTINCT f.title, 
       CASE WHEN COUNT(r.rental_date) > 0 THEN 1 ELSE 0 END AS rented_in_may
FROM film AS f
LEFT JOIN inventory AS i ON f.film_id = i.film_id
LEFT JOIN rental AS r ON i.inventory_id = r.inventory_id AND MONTH(r.rental_date) = 5 AND YEAR(r.rental_date) = 2005
GROUP BY f.title
ORDER BY f.title;
"""

In [11]:
df = pd.read_sql(query, connection_string)
display(df)

                 title  rented_in_may
0     ACADEMY DINOSAUR              1
1       ACE GOLDFINGER              0
2     ADAPTATION HOLES              1
3     AFFAIR PREJUDICE              1
4          AFRICAN EGG              1
..                 ...            ...
995     YOUNG LANGUAGE              0
996         YOUTH KICK              0
997       ZHIVAGO CORE              1
998  ZOOLANDER FICTION              1
999          ZORRO ARK              1

[1000 rows x 2 columns]

In [12]:
# use one-hot encoding to transform 'title' into numerical features
df = pd.get_dummies(df, columns=['title'])

In [16]:
df_encoded = pd.get_dummies(conn, columns=['title', 'rented_in_may'])

In [22]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X = df.drop("rented_in_may", axis=1)
y = df["rented_in_may"]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [27]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
lr = LogisticRegression()
lr.fit(X_train, y_train)

# make predictions on the testing data and evaluate the model's performance
y_pred = lr.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        61
           1       0.69      1.00      0.82       139

    accuracy                           0.69       200
   macro avg       0.35      0.50      0.41       200
weighted avg       0.48      0.69      0.57       200

C:\Users\rodri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\rodri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\rodri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [18]:
print(df.columns)

Index(['rented_in_may', 'title_ACADEMY DINOSAUR', 'title_ACE GOLDFINGER',
       'title_ADAPTATION HOLES', 'title_AFFAIR PREJUDICE', 'title_AFRICAN EGG',
       'title_AGENT TRUMAN', 'title_AIRPLANE SIERRA', 'title_AIRPORT POLLOCK',
       'title_ALABAMA DEVIL',
       ...
       'title_WORST BANGER', 'title_WRATH MILE', 'title_WRONG BEHAVIOR',
       'title_WYOMING STORM', 'title_YENTL IDAHO', 'title_YOUNG LANGUAGE',
       'title_YOUTH KICK', 'title_ZHIVAGO CORE', 'title_ZOOLANDER FICTION',
       'title_ZORRO ARK'],
      dtype='object', length=1001)